.site-brand {
    font-family: Monaco;
}


.menu {
    font-family: Monaco;
}



.list-title, .term-title, .list-year, .list-month, .post-title, .post-subtitle, .related-title, .post-nav, thead, dt {
    font-family: Monaco;
}



.post-body {
    h1, h2, h3, h4, h5, h6 {
        font-family: Monaco;
    }
}
.contents-title {
    font-family: Monaco;
}


code, pre, sup, .post-meta, .updated-badge, .post-gitinfo, .minimal-footer, .minimal-footer-about, .busuanzi-site-uv-and-pv, .copy-button {
    font-family: Monaco;
}


blockquote {
    font-family: Monaco;
}



.contents {
    font-family: Monaco;
}



.caption {
    font-family: Monaco;
}



.footer {
    font-family: Monaco;
}



body {
    font-family: Monaco;
}
